In [13]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn import tree
from sklearn.model_selection import train_test_split
import numpy as np
import seaborn as srn

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/shuvo-git/MachineLearning/master/ML_DecisionTree/salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [4]:
inputs  = df.drop('salary_more_then_100k',axis='columns')
target =df['salary_more_then_100k']

In [6]:
le = LabelEncoder()
inputs['company_n'] = le.fit_transform(inputs['company'])
inputs['job_n'] = le.fit_transform(inputs['job'])
inputs['degree_n'] = le.fit_transform(inputs['degree'])

input_n = inputs.drop(['company','job','degree'],axis='columns')
input_n.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [15]:
X_train,X_test,y_train,y_test = train_test_split(input_n,target,test_size=0.2)

In [16]:
model = tree.DecisionTreeClassifier()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.5

In [19]:
len(X_train)

12

In [20]:
len(X_test)

4

In [21]:
len(input_n)

16